@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
:root{
    --Yellow : #F4D04E;
    --Grey-950 : #111111;
    --Grey-500 : #6B6B6B;
    --White : #FFFFFF;

}

body{
    background-color: var(--Yellow);
}
.text_preset1{
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight:800;
    font-style: normal;
    line-height: 150%;
    letter-spacing: 0px;
    font-size: 24px;
}
.text_preset2{
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    line-height: 150%;
    letter-spacing: 0px;
    font-size: 16px;
}
.text_preset3{
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    line-height: 150%;
    letter-spacing: 0px;
    font-size: 14px;

}
.text_preset4{
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800    ;
    font-style: normal;
    line-height: 150%;
    letter-spacing: 0px;
    font-size: 14px;
}
.container{
    width:350px;
    background-color: var(--White);
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
    padding:20px;
    border-radius: 15px;
    border: 1px solid var(--Grey-950);
    box-shadow: 6px 6px var(--Grey-950);

}
.attribution{
    position: absolute;
    bottom: 10px;
    left:50%;
    transform: translate(-50%,0);
}
.banner{
    width:100%;
    height:100%;
    border-radius: 10px;
    margin-bottom:20px
}
.learning{
    display: inline;
    background-color: var(--Yellow);
    border-radius: 5px;
    padding: 5px 13px;
}
.date{
    margin-top:10px;
}
.heading{
    margin:10px auto;
}

.profile{
    width:30px;
    height:30px;    
}
.description{
    color: var(--Grey-500);
}
.name{
    display:flex;
    align-items: center;
    gap:15px;

}